.main-container {
    /* background-color: #FBC575; */
    border: 3px solid #FBC575;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.main-container hr{
    /* background-color: black; */
    border: 1px solid black;
    
}

.main-container .sidebar-header{
    display: flex;
    justify-content: center;
    height: 10%;    
}


.main-container .options{
height: 80%;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.main-container .options div:not(:last-child){
    margin-bottom: 70px;
}

.main-container .options div{
    font-size: 30px;
    font-weight: 700;
    
    line-height: 50px;
    text-align: center;
    width: 170px;
    height: 50px;
    /* border: 1px solid #FBC575; */
}


.main-container .options div:hover{
font-size: 35px;
transition: 0.5s ease-in-out;
}


