.add-container {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;    
    align-items: center    ;
}

.add-container hr:not(:first-child) {
    margin-top: 5%;
    
}
.add-container form{
    font-size: 30px;
}




.add-container .pname{
    width: 300px;
    font-size: 30px;
}

.add-container .price{
    width: 300px;
    font-size: 30px;
}

.add-container .content{
    width: 300px;
    font-size: 30px;
}
.add-container .img{
    font-size: 20px;

}

.add-container .save_btn{    
    margin-top: 60px;
    margin-left: 30%;
    width: 40%;
    height: 10%;
    color: white;
    background-color: #FBC575; 
    border: none;  
}

.add-container .save_btn:hover{
    background-color: rgb(179, 176, 176);
    color: #FBC575
}





