.sidebar {
    display: flex;
    width: 25%;
}

.App{
    display: flex;
    height: 900px;    
}

.App .header_layout {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.App .header_layout hr{
    border : 0.5px solid black;
    width: 100%;
}

